---
name: test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-$${{ github.pull_request.number || github.run_id }}"
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true
      - run: mkdir -p cmd/eee-safe/threema-backups
      - run: go test -v -coverprofile="coverage.out" ./...
      - run: go tool cover -func="coverage.out"
      - uses: vladopajic/go-test-coverage@v2
        with:
          config: ./.github/testcoverage.yml
